({{ given }})
{% if given is empty %}
    <div class="reservations-blocklet">
        {% if hidden %}
            <span class="dashicons dashicons-plus new-inventory-icon"></span>
            <input class="new-inventory iid" name="{{ key }}" type="text" placeholder="Šifra" style="width: 70%"/>
        {% else %}

            <div>
                {{ size }}
            </div>
            <div>
                <input type="text" style="width: 70%" placeholder="Šifra" />
            </div>
        {% endif %}
    </div>
{% endif %}
