{% block content %}
    <div class="rkg-category-container">
        {% include 'newsBlockCategory.twig' %}
    </div>
    <div class="row-container news-content-container">
        {% include 'newsBlockContent.twig' %}
    </div>
{% endblock %}
